.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  background-color: #006ee9;
  color: white;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
}

/* Button got pressed */
.button:active {
  background-color: #105cdb;
}

/* Button's specific sizing */

/* Large Buttons */
.button.large {
  height: 48px;
  padding: 12px 16px;
  font-size: 16px;
}

.button.large.no-icon {
  width: 128px;
}

.button.large.with-icon {
  width: 152px;
}

.button.large.icon-only {
  width: 48px;
}

/* Medium Buttons */
.button.medium {
  height: 36px;
  padding: 10px 14px;
  font-size: 12px;
}

.button.medium.no-icon {
  width: 90px;
}

.button.medium.with-icon {
  width: 106px;
}

.button.medium.icon-only {
  width: 36px;
}

/* Icon specific styling */
.button-icon {
  font-size: 18px;
}

.button.with-icon .button-icon {
  margin-left: 8px;
}
